<h1>Dragon ball Z</h1>
<hr />

<div class="row">
  <div class="col mt-5">
    <h3>Personajes</h3>
    <hr />
    <ul>
      <li>Krilli - 700</li>
      <li>Goku - 15,000</li>
      <li>Vegeta - 8500</li>
    </ul>
  </div>

  <div class="col mt-5">
    <h3>Agregar</h3>
    <hr />

    <form action="">
      <input class="mb-3" type="text" placeholder="Nombre" />
      <input class="mb-3" type="number" placeholder="Poder" />
      <button class="btn btn-primary">
        Agregar
      </button>
    </form>

  </div>

  <!-- display: block; -->

</div>